/* Font Styling */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* Shared Styling */
* {
    padding: 0px;
    margin: 0px;
}
.style-flex {
    display: flex;
}
.text-gray-42 {
    color: #424242;
}
.dark-1 {
    color: #131313;
}
.dark-2 {
    color: #727272;
}
.btn-primary {
    background-color: #FF900E;
    color: white;
    border: none;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 8px;
    margin-top: 32px;
    margin-bottom: 50px;
    cursor: pointer;
}
.btn-primary:hover {
    background-color:rgb(255, 165, 0);
    color: black;
}
/*-------> Main Styling */

/* Heading */
#heading {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 50px 240px;
}
/* Navigation Bar */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: 2.8rem;
    font-weight: bold;
}
.navbar .menu{
    gap: 30px;
}
.navbar .menu li {
    list-style: none;
}
.navbar .menu li a{
    text-decoration:none;
    font-size: 1.12rem;
    font-weight: 500;
}
/* Banner Styling */
#banner {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
}
#banner .banner-content {
    max-width: 860px;
    margin: 0 auto ;
}
#banner .banner-content .banner-heading {
    font-size: 4rem;
    font-weight: bold;
}
#banner .banner-content .banner-description {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 32px;
}
/* Quick List Section */
#quick-list {
    max-width: 1320px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 73px;
    margin-top: 85px;
}
#quick-list .quick-list-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list-content {
    max-width: 537px;
}
.quick-list-heading {
    font-size: 2.8rem;
    font-weight: bold;
}
.span1 {
    font-weight: 500;;
}
.span2 {
    color: #FF900E;
}
.quick-list-paragraph {
    font-size: 1rem;
    font-weight: normal;
    line-height: 26px;
    margin-top: 24px;
}

/* Feature Section */
#features {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px; 
    gap: 146px;
    align-items: center;
    justify-content: center;
}
#features .feature-contents {
    max-width: 585px;
}
.feature-heading {
    font-size: 2.8rem;
    border-left: 4px solid #FF900E;
    padding-left: 21px;
}
.feature-paragraph {
    font-size: 1rem;
    margin-top: 24px;
    padding-left: 10px;
}
.f-card {
    background-color: white;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-top: 30px;
}
.fcard-heading {
    font-size: 1.25rem;
    font-weight: 600;
}
.fcard-paragraph {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 10px;
}
#features .featured-img img {
    width: 100%;
}
#features .featured-img button {
    margin-left: -100px;
    margin-top: -100px;
    text-align: center;
    padding: 45px 42px;
}
#btn-1-span {
    font-size: 4rem;
    font-weight: bold;
}
#btn-2-span {
    font-size: 1.5625rem;
    font-weight: 500;
}
/* Some Facts Styling */
#some-facts {
    max-width: 1440px;
    margin: 0 auto;
}
.some-facts-title {
    max-width: 542px;
}
.some-facts-heading {
    font-size: 2.8rem;
    font-weight: bold;
}
.some-facts-paragraph {
    font-size: 1rem;
    font-weight: normal;
    line-height: 26px;
    margin-top: 24px;
}
.some-facts-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
    margin-top: 100px;
}
.some-facts-cards .cards {
    border:2px solid #FF900E;
    border-radius: 8px;
    padding:45px 35px ;
    text-align: center;
}
.sf-card-heading{
    margin-top: 10px;
}
.sf-card-paragraph {
    font-size: 1.25rem;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}
/* Sponsors Style */
#sponsors {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-top: 180px;
}
.sponsors-heading {
    font-size: 2.8rem;
    font-weight: bold;
    color: #131313;
}
.sponsors-description {
    font-size: 1rem;
    font-weight: normal;
    margin-top: 24px;
    line-height: 26px;
}
.sponsors-logo {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 150px;
    margin-top: 50px;
}
.sponsors-logo img {
    filter: grayscale(100%);
}








/* View Breakpoint */
@media screen and (max-width: 575px) {
    #heading {
        padding: 30px 16px;
    }
    .navbar , #features  {
        flex-direction: column;
        gap: 20px;
    }
    #quick-list {
        flex-direction: column-reverse;
        gap: 20px;
    }
    #heading img {
        width: 100%;
    }
    #banner {
        margin-top: 50px;
    }
    #quick-list .quick-list-img, .some-facts-cards , .sponsors-logo {
        grid-template-columns: repeat(1, 1fr);
    }
    #quick-list .quick-list-content {
        text-align: center;
    }
    .featured-img {
        display: flex;
        flex-direction: column;
    }
    .featured-img{
        width: 100%;
    }
    #features .featured-img button {
        margin: 0px auto;
        margin-top: -40px;
    }
    #some-facts {
        margin-top: 40px;
        padding: 10px;
    }
    .some-facts-cards {
        gap: 20px;
        margin-top: 20px;
    }
    .sponsors-logo {
        justify-items: center;
        gap: 40px;
    }
    #sponsors {
        margin-top: 50px;
    }
}